.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
.vscode
.idea
.cursor
